<div class="register-card">
    <div class="register-logo">
        <h2>Login</h2>
    </div>
    <form action="/users/login" method="POST">
        <label>Email</label>
        <br />
        <input class="input-field"
        placeholder="example@gmail.com"
        type="text"
        name="email"
        />
        <br />
        <label>Password</label>
        <br />
        <input class="input-field"
        placeholder="enter password"
        type="text"
        name="password"
        />
        <br />
        <button class="register-page-btn">Login</button>
        <div class="link-paragraph">
            <p>No account? <a href="/users/register">Register</a></p>
        </div>
    </form>
</div>