<div class="card">
    <div class="logo">
        <i class="fab fa-node-js"></i>
    </div>
    <div class="p-tag">
        <p>Create an account or login.</p>
    </div>
    <div class="btn-tag">
        <button class="btn-login"><a href="/users/login">Login</a></button>
        <button class="btn-register"><a href="/users/register">Register</a></button>
    </div>
</div>